### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load
upload_file = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(upload_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
#Using the purchase_data find the SN since these are unique identifiers.
#total_players = len(purchase_data['SN'].value_counts())

#Display the total in a box with columns like example
#player_count_df = pd.DataFrame({'Total Players':[total_players]})
#player_count_df

new_df = purchase_data.loc[:, ['SN', 'Age', 'Gender']]
new_df = new_df.drop_duplicates()
player_count = new_df.drop_duplicates()
player_count = player_count.count()[0]

total_players_df = pd.DataFrame({'Total Players':[player_count]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Find the number of unique items, average price, number of purchases, and total revenue.
#Round up the average price. 

unique_items = len(purchase_data['Item ID'].unique())
average_price = round(float(purchase_data['Price'].mean()), 2)
numberof_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

In [6]:
#Create summary df
summary_df = pd.DataFrame({
    'Number of Unique Items': [unique_items],
    'Average Price': '$' + str(average_price),
    'Number of Purchases': [numberof_purchases],
    'Total Revenue': '$' + str(total_revenue)
})
summary_df
#Clean up display data. Append currency symbols to Average Price and Total Revenue.
#summary_df.style.format ({'Average Price': "${:,.2f}", 'Total Revenue': "${:,.2f}"})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
new_df['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [8]:
# Remove duplicates to find unique player count bc i keep getting 780
#purchase_data.drop_duplicates()
#purchase_data.head()
#unique_players

In [9]:
# find gender counts and percentages
gender_count = new_df['Gender'].value_counts()
gender_percent = round((gender_count/player_count) * 100, 2)

# create a summary dataframe
genderDemo_df = pd.DataFrame({
    'Total Count': gender_count,
    'Percentage of Players': gender_percent})

genderDemo_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# must use GroupBy
gen_purchaseCount = purchase_data.groupby(['Gender']).count()['Price']
gen_avgPurchPrice = round(purchase_data.groupby(["Gender"]).mean()["Price"], 2)
gen_totalPurch = purchase_data.groupby(["Gender"]).sum()["Price"]
gen_avgPurchPerson = round(gen_totalPurch/gender_count, 2)


#create summary df to hold calculations' results
genderSummary_df = pd.DataFrame({
    'Purchase Count': gen_purchaseCount, 
    'Average Purchase Price': gen_avgPurchPrice, 
    'Total Purchase Value': gen_totalPurch,
    'Avg Total Purchase per Person': gen_avgPurchPerson
})
genderSummary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# Data must be cut and binned
# Create the bins for ages. Find unique ages to determine bins.
purchase_data['Age'].unique()

array([20, 40, 24, 23, 22, 36, 35, 21, 30, 38, 29, 11,  7, 19, 37, 10,  8,
       18, 27, 33, 32, 25, 12, 34, 17, 15, 13, 26, 16, 28, 31, 39, 44, 41,
        9, 14, 42, 43, 45])

In [24]:
# Bins
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99.99]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Use pd.cut on the new_df with no duplicated plyers
new_df["Age Ranges"] = pd.cut(new_df["Age"], bins, labels = group_labels)

In [26]:
# Calculate count and percentage of platers by age group
age_group_counts = new_df["Age Ranges"].value_counts()
age_group_percent = round(age_group_counts / player_count * 100, 2)

# Summary df
age_demo = pd.DataFrame({
    "Total Purchase Count": age_group_counts, 
    "Percentage of Players": age_group_percent
})

# Display df
age_demo.sort_index()

       Total Purchase Count  Percentage of Players
<10                      17                   2.95
10-14                    22                   3.82
15-19                   107                  18.58
20-24                   258                  44.79
25-29                    77                  13.37
30-34                    52                   9.03
35-39                    31                   5.38
40+                      12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# must use GroupBy #data must be cut and binned

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# must use GroupBy

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# must use GroupBy

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame